@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ======== BASE======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.App {
  font-family: "Poppins", sans-serif;
}
